#topbar{
    width: auto;
    margin: 0 auto;
    height: 100px;
    background-color: #AE9D55
}
#menubarcontainer{
    width: auto;
    height: 40px;
    background-color: #AE9D55    
}
#menubar a{
    font-size: 22px;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
    position: relative;
    float: right
}

#menubar a:hover{
    text-decoration: underline;
}

#menubar input[type=text]{
    height: 40px;
    width: 300px
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-transform: uppercase;
}

#signin{
    float: right;
    font-size: 27;
    font-weight: bold;
    color: white;
    margin-right: 25px;
    margin-top: 25px;
}

#logo{
    height: 100px;
    float: left;
    padding-left: 0
}

#slogan{
    font-family: 'Dosis';
    font-style: italic;
    color: white;
    font-size: 27px;
    margin-left: 30%;
        
}
body{
    font-family: 'Dosis', 'Roboto',sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/bg1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
hr{
    
    margin: 3;
    
}
#menubar button{
    height: 40;
    color: white;
    background-color: #ae9d55;
    font-family: dosis;    
    padding: none;    
}
.login-container{
    width: 360px;
    padding: 10% 0 0;
    margin: 0 auto;
}
.form{
    position: relative;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    max-width: 360px;
    margin:  0 auto 100px;
    padding: 45px;
    text-align: center;
    
}

.form input{
    font-family: "Dosis", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 17px;
}

.form button{
    font-family: "Dosis", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    outline: 0;
    background: #AE9D55;
    color: white;
    width: 100%;
    border: 0;
    padding: 15px;
    cursor: pointer;
}
.msg{
    color: #AE9D55;
    font-size: 17px;
    margin: 15px 0 0;
    font-style: italic;
}
.form button:hover, .form button:active{
    background: #AE9D15;
}
.form .register-form{
    display: none;
}